---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout
  title="朋友们"
  description="朋友们"
  permalink="friend"
  current="friend"
>
  <div class="container">
    <h1>friends</h1>

    <div class="card card-side bg-base-100 shadow-xl border">
      <div class="card-body">
        <h2 class="card-title">xiwu.me</h2>
        <p>Product Manager by day, programmer by night.</p>
        <button>
          <a href="https://xiwu.me" target="_blank">take me to see</a>
        </button>
      </div>
    </div>
  </div>
</BaseLayout>
