---
import { Image } from "astro:assets";
---

<a href="/">
  <Image src="/assets/logo.webp" width="75" height="50" alt="logo" />
  <!-- <img alt="Blog Logo" src="/assets/logo.webp" width="75" height="50" /> -->
</a>

<style>
  img {
    display: block;
    width: 75px;
  }

  @media screen and (max-width: 520px) {
    img {
      display: none;
    }
  }
</style>
